<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<mat-toolbar color="primary"> 
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="appMenu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
      <mat-list>
        <a mat-list-item routerLink="/BasicFunctions" routerLinkActive="active">Basic functions</a>
        <a mat-list-item routerLink="/Toxicity" routerLinkActive="active">Toxicity</a>
        <a mat-list-item routerLink="/NoLinear" routerLinkActive="active">Función no lineal</a>
        <a mat-list-item routerLink="/p5Test" routerLinkActive="active">nothing</a>
      </mat-list>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Application Title</span>
  
</mat-toolbar>

<router-outlet></router-outlet>

 <!-- Footer -->
 <footer> 
</footer>
